.calendar{
    flex: 1;

    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    font-size: 1.2rem;
}

.calendar-days{
    display: flex;
    position: relative;
}

.calendar-day-title{
    flex: 1;

    max-width: 100%;
    max-height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.calendar-day-title-number{
    background: linear-gradient(to bottom, #e5e5e5, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: bold;
    font-size: 30rem;
}

.calendar-day-ctn{
    width: 100%;
    height: 100%;

    padding: 0 20px 0 100px;

    display: flex;
    justify-content: space-between;
    gap: 10px;

    position: absolute;
}

.calendar-day{
    flex: 1;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    color: #9e9e9e;
}

.calendar-day.active{
    color: #000;
}

.calendar-day span:first-child{
    font-size: 3rem;
    font-weight: bold;
}

.calendar-day span:last-child{
    padding: 5px 10px;
}

.calendar-day.active span:last-child{
    background-color: #000;
    border-radius: 10px;

    color: #fff;
}

.calendar-ctn{
    flex: 1;

    padding: 0 0 20px 0;
    
    display: flex;

    position: relative;
}

.calendar-table{
    flex: 1;

    padding: 0 20px 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
}

.calendar-table-item{
    width: 100%;

    display: flex;
    align-items: center;
}

.calendar-table-hours{
    width: 100px;
    
    color: #9e9e9e;
}

.calendar-table-line{
    width: 100%;
    height: 2px;

    background-color: #eee;
}

.calendar-table-data{
    width: 100%;
    height: calc(100% - 20px);

    padding: 11.5px 0 11.5px 100px;

    display: flex;
    gap: 10px;

    position: absolute;
}

.calendar-table-data-cursor-pointer{
    width: calc(100% - 100px);

    position: absolute;
    bottom: 0;

    background-color: rgba(0, 140, 255, 0.06);
    border-radius: 0px 0px 10px 10px;
    border-top: 2px solid #008cff;

    z-index: 1;
}

.calendar-table-data-cursor-pointer::before{
    content: "";

    width: 12px;
    height: 12px;

    display: block;

    position: absolute;
    top: -6px;
    left: -6px;

    background-color: #008cff;

    border-radius: 50%;
}

.calendar-table-column{
    width: 100%;

    display: flex;
    flex-direction: column;
}

.calendar-table-cell{
    height: 7.6923076923076923076923076923077%;

    padding: 5px;

    display: flex;
    
    background-color: #dadada;
    border-radius: 10px;
    box-shadow: inset 0 0 0 5px #ffffff82;

    overflow: hidden;
}

.calendar-table-cell.cm{
    background-color: #b5c9e8;
}

.calendar-table-cell.td{
    background-color: #c5b9e5;
}

.calendar-table-cell.tp{
    background-color: #a9d8dc;
}

.calendar-table-cell.brk{
    background-color: #dadada;
}

.calendar-table-cell-content{
    padding: 15px;
}

.calendar-table-cell-tn-professor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.calendar-table-cell.exm .calendar-table-cell-tn-professor:after{
    content: "Examen";

    padding: 2px 5px;

    background-color: #b90039;
    border-radius: 6px;

    font-weight: bold;
    color: #fff;
}

.calendar-table-cell-tn-title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;

    color: #000000B3;
}

.calendar-table-cell-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calendar-table-cell-tn{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calendar-table-cell-hp{
    display: flex;
    justify-content: space-between;
}

.calendar-table-cell-hp > div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.calendar-table-cell-hp, .calendar-table-cell-hp i{
    color: #000000B3;
}