.calendar{
    flex: 1;

    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    font-size: 1.2rem;
}

.calendar-days{
    padding: 0 0 0 100px;

    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.calendar-day{
    flex: 1;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    color: #9e9e9e;
}

.calendar-day.active{
    color: #000;
}

.calendar-day span:first-child{
    font-size: 3rem;
    font-weight: bold;
}

.calendar-day span:last-child{
    padding: 5px 10px;
}

.calendar-day.active span:last-child{
    background-color: #000;
    border-radius: 10px;

    color: #fff;
}

.calendar-ctn{
    flex: 1;

    padding: 0 0 20px 0;
    
    display: flex;

    position: relative;
}

.calendar-table{
    flex: 1;

    padding: 0 0 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
}

.calendar-table-item{
    width: 100%;

    display: flex;
    align-items: center;
}

.calendar-table-hours{
    width: 100px;
    
    color: #9e9e9e;
}

.calendar-table-line{
    width: 100%;
    height: 2px;

    background-color: #eee;
}

.calendar-table-data{
    width: 100%;
    height: calc(100% - 20px);

    padding: 15.75px 0 15.75px 100px;

    display: flex;
    gap: 10px;

    position: absolute;
}

.calendar-table-data-cursor-pointer{
    width: calc(100% - 100px);
    height: 2px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;

    background-color: red;

    z-index: 1;
}

.calendar-table-data-cursor-pointer::before{
    content: "";

    width: 12px;
    height: 12px;

    display: block;

    background-color: red;

    border-radius: 50%;
}

.calendar-table-column{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.calendar-table-cell{
    padding: 15px;
    
    background-color: #dadada;
    border-radius: 10px;

    overflow: hidden;
}

.calendar-table-cell.cm{
    background-color: #dadada;
}

.calendar-table-cell.td{
    background-color: #aab4d8;
}

.calendar-table-cell.tp{
    background-color: #99ced2;
}

.calendar-table-cell-content{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.calendar-table-cell-tn{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calendar-table-cell-hp{
    display: flex;
    justify-content: space-between;
}

.calendar-table-cell-hp > div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.calendar-table-cell-hp i{
    opacity: 0.5;
}