.loader-layout{
    width: 100%;
    height: 100%;

    display: none;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);

    font-size: 18px;
    color: #000000;

    z-index: 1000;
}

.loader-layout.active{
    display: flex;
}

.loader-box{
    padding: 30px 40px;

    background-color: #fff;

    border-radius: 20px;

    font-size: 1.1em;
}

.loader {
    width: 45px;
    height: 45px;

    margin: 0 auto 30px auto;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    background-color: #233366;
    border-radius: 50%;

    animation: loader 1s infinite alternate;
}

.loader:before{
    content: "";

    width: 25px;
    height: 25px;

    display: block;

    position: absolute;

    background-color: #37b8c1;
    border-radius: 50%;

    animation: loader 1s infinite alternate;
    animation-delay: 0.5s;
}


@keyframes loader {
    from {
        transform: scale(0.8);
    } to {
          transform: scale(1.3);
      }
}