@import "../css/root.css";

@import "../css/module/footer.css";

.application{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.tree{
    flex: 1;

    padding: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

.treeTitleCtn{
    display: flex;
    justify-content: center;
}

.treeTitle{
    font-weight: bold;
    font-size: 2em;
}

.treeTitle::after{
    content: "";

    width: 60px;
    height: 5px;

    margin: 6px 0 10px 0;

    display: block;

    background-color: #37b8c1;
    box-shadow: 3px 3px 10px 0 #37b8c1;
    border-radius: 5px;
}


.treeBtnCtn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.treeBtnUp, .treeBtnDown{
    aspect-ratio: 1/1;
    width: 17.5rem;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    background-color: #fff;
    box-shadow: 5px 5px 30px 0 #eee;
    border: none;
    border-radius: 20px;

    animation: fade 1s forwards;
}

@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.treeBtnUp > i, .treeBtnDown > i{
    font-size: 5em;
    color: #233366;
}

.treeBtnUp > span, .treeBtnDown > span{
    font-weight: bold;
    font-size: 2em;
}